@import "../public/mixins.scss";

#navbar {
  height: 65px;
  background-color: rgba(36, 37, 37, 0.8);
  color: #fff;
  position: sticky;//粘性定位
  top: 0;
  @include flex-center();
  @media screen and (max-width: 767px){
    height: 100px;
    background-color: #fff;
    color:#000;
  }
  .navbar-ul {
    flex: 1;
    max-width: 1000px;
    width: 80%;
    height: 100%;
    @include flex-center();
    @media screen and (max-width: 767px){
      width: 100%;
      border-bottom: rgb(180, 178, 178) solid 1px;
      min-width: 375px;
    }

    .navbar-li {
      white-space: nowrap;
      flex: 1;
      min-width: 50px;
      max-width: 200px;
      height: 100%;
      list-style: none;
      @include flex-center(column);
      margin: 0 30px;
      font-size: 25px;
      @media screen and (max-width: 767px){
        font-size: 35px;
      }
      
    }

    li:hover {
      transition: border-radius .5s,background-color .5s;
      cursor: pointer;
      @media screen and (max-width: 767px){
        border-radius: 0;
      }
      @media screen and (min-width: 768px){
        background-color: #E9F8FF;
        color: #000;
        border-radius: 50px 0 50px 0;
      }
    }

    .h-active {
      color: #000;
      background-color: #E9F8FF;
      border-radius: 50px 0 50px 0;
      @media screen and (max-width: 767px){
        border-radius: 0%;
        background-color: #fff;
        color:red;
        border-bottom: red solid 2px;
        font-weight: bold;
      }
      @media screen and (min-width: 768px){
        background-color: #E9F8FF;
        color: #000;
        border-radius: 50px 0 50px 0;
      }
    }
  }
  .login-register{
    position: absolute;
    font-size: 20px;
    right: 150px ;
    color: #fff;
    @include flex-center();
    span{
      cursor: pointer;
      white-space: nowrap;
    }
  }

  .welcome{
    position: absolute;
    right: 30px;
    color: #fff;
    font-size: 13px;

    .username{
      cursor: pointer;
    }
  }

  .mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    z-index: 10000;
    @include flex-center(column);
  }
}